/* Announcement page will start here */
.announcement{
    background-color: #000017 !important;
    position: relative;
}

.announcement .container{
    background-color: #000017 !important;
}

.announcement .cards-announcements{
    padding: 2rem 0;
}

.announcement .card--wrapper .card--main h4{
    color: #000;
    font-weight: 600;
    font-size: 1.2rem;
}

.announcement .card--wrapper .card--main p{
    color: #333;
}

.Announcement_heading{
    padding: 3rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.Announcement_heading hr{
    width: 10%;
    border-bottom: 4px solid #fff; 
}

.announcement .heading span{
    font-weight: 600;
}

.announcement .apply-link a{
    padding: 0 5px;
    color: #fff;
}

.announcement .card--wrapper{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.announcement .card .card--main{
    background-color: #f8f8f8;
    width: 280px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 1.5rem;
    border-radius: 2rem;
    margin: 1.5rem 0;
}

.announcement .card .card--main h4{
    padding: 0.5rem 0;
}

.announcement .card--wrapper .btn-group{
    margin-top: 2rem;
} 

.announcement .card--wrapper .btn-group .btn--primary{
    background-color: #492891;
    padding:0.5rem 1rem;
    border-radius: 5px;
}

.announcement .card .card--main p{
    color: #333;
    font-size: 1rem;
}

.announcement .card--main .card--image{
    width: 130px;
    border-radius: 80px;
    padding-bottom: 0.5rem;
    display: flex;
    align-items: center;
}

.announcement .sky{
    width: 150px;
    position: absolute;
    left: -70px;
    top: 35px;
}


.Shapes .shape3{
    position: absolute;
    right:500px;
    width: 25px;
}
.Shapes .shape4{
    position: absolute;
    right:60px;
    width: 50px;
}
.Shapes .shape6{
    position: absolute;
    left:80px;
    top: 100px;
    width: 50px;
}
.Shapes .shape7{
    position: absolute;
    left:250px;
    top:130px;
   width: 60px;
}
.Shapes .shape3{
    position: absolute;
    right:500px;
    width: 25px;
}

@media screen and (max-width:768px){
    .announcement .sky{
        width: 100px;
        position: absolute;
        left: -40px;
        top: 30px;
    }  

    .announcement .card-component{
        margin: 15px 0;
    }

}


