.GetIntouch{
    background-color: #000;
    color: #fff;
    padding-bottom: 2rem;
}

.GetIntouch .container{
    background-color: #000;
}

.GetIntouch h3{
    font-size: 1.2rem;
    font-weight: 500;
}

.GetIntouch .Reach--us{
    display: flex;
    margin: 1rem 0;
}

.GetIntouch .Reach--us .Reach_heading{
    display: flex;
}

.GetIntouch .Reach--text h5 ,p{
     font-weight: 400;
     padding: 2px;
     margin-left: 0.8rem;
}

.GetIntouch .Reach--text p{
    font-weight: 300 !important;
    font-size: 1rem;
}

.GetIntouch .email-sign{
    display: flex;
    margin: 1rem 0;
}

.GetIntouch .email-sign h5{
    font-weight:400;
    margin-left: 0.8rem;
}

.GetIntouch .email--text p, .contact--text p{
    font-weight: 300;
    font-size: 1rem;
}

.GetIntouch .Reach--address p{
    width: 50%;
    padding: 1rem 0;
}

.GetIntouch .contact-sign{
    display: flex;
}

.GetIntouch .contact--text h5{
    font-weight:400;
    margin-left: 0.8rem;
}

@media screen and (max-width:768px) {
    .GetIntouch .Reach--address p{
        width: 100%;
    }
}