.hero {
  overflow-x: hidden;
  position: relative;
}

.Hero_info {
  position: absolute;
  color: #fff;
  width: 30%;
  float: left;
  left: 100px;
  top: 200px;
}
.Hero_info p {
  padding: 2rem 0;
}
.hero img{
  width: 100%;
  height:100vh;
  background-repeat: no-repeat;
}

#background-video {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  position: relative;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
  background-position: right;
}
#mob_backround-video {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  position: relative;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
  background-position: right;
}
#background-video::-webkit-media-controls {
  display: none;
}

#mob_background-video {
  display: none;
}

#mob_background-video::-webkit-media-controls {
  display: none;
}

.hero-shape {
  width: 100%;
  position: absolute;
  left: 0;
  bottom: 0;
}

.hero-shape img {
  width: 100%;
  display: block;
}

@media screen and (max-width: 768px) {
  #background-video {
    display: none;
  }

  #mob_background-video {
    width: 100vw;
    height: 60vh;
    object-fit: cover;
    position: relative;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
    display: block;
    background-position: right;
    background-position: center center;
  }
  .Hero_info {
   display: none;
  }
}
