.header{
    width: 100%;
    /* height: 90px; */
   
    top: 0;
    left: 0;
    z-index: 1;
}



.header .container{
    display: flex;
    align-items: center;
    border-radius: 1rem;
    padding: 1.5rem;
    background-color:#fff;
    justify-content: space-between;
}

.header .container .list{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

/* .colors{
    color: var(--primary);
} */

.nav-menu{
    display: flex;
}

.Logo{
    width: 150px;
 
}
.nav-menu li{
    padding: 0 2.5rem;
}

h1 span{
    font-weight: 600;
}

.nav-menu a{
    color: #333;
    font-size: 1rem;
    font-weight: 500; 
}

.nav-menu a:hover{
    font-weight: bold;
}

.hamburger{
    display: none;
    cursor: pointer;
}

@media screen and (max-width:768px){
    .hamburger{
        display: flex;
    }

    .header .container{
        padding: 0 3rem;
    }

    .nav-menu{
        position: absolute;
        flex-direction: column;
        justify-content: start;
        top: 90px;
        right: 100%;
        width: 100%;
        height: 100vh;
        transition: 0.4s;
        z-index: -1;
        background-color: #fff;
        border-left: 1px solid #eee;
    }
    
    .nav-menu.active{
        right: 0;
    }

    .nav-menu li{
        padding: 1rem;
        width: 100%;
        color:  #333;
        border-bottom: 1px solid #eee;
    }

    .nav-menu a{
        font-size: 1.2rem;
      
    }

    .btn-group{
        padding: 0;
    }
    

}
