/* .productHero-video {
  background: linear-gradient(0, 0, 0, 0.4) !important;
}

.productHero-video::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    0deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(255, 255, 255, 1) 30%,
    rgba(255, 255, 255, 1) 70%
  );
  z-index: -1;
} */

/* #Product_video{
  width: 100%;
} */

.productHero{
    overflow: hidden;
    height: 90vh;
}

#Product_video::-webkit-media-controls {
  display: none;
}

@media screen and (max-width: 768px) {
  #Product_video {
    display: block;
  }
}
